@model AssetStatusReportModel

@{
    ViewData["Title"] = "Hardware Asset Status";
}

<form asp-action="HardwareStatus" method="get" class="card p-3 d-flex flex-column flex-md-row gap-3 mb-3 align-items-center">
    <div>
        <div class="mb-3">
            <label asp-for="FromDate" class="form-label"></label>
            <input asp-for="FromDate" class="form-control">
        </div>
        <div>
            <label asp-for="ToDate" class="form-label"></label>
            <input asp-for="ToDate" class="form-control">
        </div>
    </div>
    <div>
        <div class="mb-3">
            <label asp-for="DepartmentId" class="form-label"></label>
            <select asp-for="DepartmentId" asp-items="@Model.Departments" class="form-select">
                <option value="0">Any</option>
            </select>
        </div>
        <div>
            <label asp-for="AssetTypeId" class="form-label"></label>
            <select asp-for="AssetTypeId" asp-items="@Model.AssetTypes" class="form-select">
                <option value="0">Any</option>
            </select>
        </div>
    </div>
    <div>
        <label asp-for="Order"></label>
        <select asp-for="Order" asp-items="@Model.OrderSelectList" class="form-select"></select>
    </div>
    <button type="submit" class="btn btn-primary">Apply</button>
</form>
@if (Model.AssetStatusReports == null || Model.AssetStatusReports.Count == 0)
{
    <p class="lead">No Reports found</p>
}
else
{
    <table class="table table-bordered">
        <thead>
        <tr class="table-primary">
            <th>Asset Type</th>
            <th>Total Assets</th>
            <th>In Use</th>
            <th>Storage</th>
            <th>Repair</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var r in Model.AssetStatusReports)
        {
            <tr>
                <td>@r.AssetTypeName</td>
                <td>@r.NumberOfAssetsTotal</td>
                <td>@r.NumberOfAssetsInUse</td>
                <td>@r.NumberOfAssetsStorage</td>
                <td>@r.NumberOfAssetsRepair</td>
            </tr>
        }
        </tbody>
    </table>
} 
