@model TicketNoteModel

@{
    ViewData["Title"] = "Edit Ticket Notes";
}

<h1 class="display-6 mb-3">Edit Ticket Note</h1>
<form asp-action="Edit" method="post">
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.TicketId)
    @Html.HiddenFor(m => m.EmployeeId)
    @Html.HiddenFor(m => m.TicketNoteId)
    @Html.HiddenFor(m => m.CreatedDate)
    <div class="mb-3">
        <label asp-for="Note" class="form-label"></label>
        <textarea asp-for="Note" cols="30" rows="10" class="form-control form-text"></textarea>
        <span asp-validation-for="Note" class="text-danger"></span>
    </div>
    <div class="d-flex gap-5 align-items-center">
        <button type="submit" class="btn btn-primary">Save</button>
        <a asp-controller="Ticket"
           asp-action="Details"
           asp-route-ticketId="@Model.TicketId"
           class="link-primary text-decoration-none">
            Go Back
        </a>
    </div>
</form>