@model AssetDetailsModel

@{
    ViewData["Title"] = "Asset Details";
}

<section class="card p-4">
    <h1 class="display-4">Asset Details</h1>
    <div class="d-flex gap-5">
        <div class="d-flex flex-column gap-3">
            <div>
                <p>Model Nr.</p>
                <p class="fs-5">@Model.ModelNumber</p>
            </div>
            <div>
                <p>Asset Type</p>
                <p class="fs-5">@Model.AssetType</p>
            </div>
            <div>
                <p>Status</p>
                <p class="fs-5">@Model.Status</p>
            </div>
            <div>
                <p>Purchase Date</p>
                <p class="fs-5">@Model.PurchaseDate.Date.ToShortDateString()</p>
            </div>
        </div>
        <div class="d-flex flex-column gap-3">
            <div>
                <p>Serial Nr.</p>
                <p class="fs-5">@Model.SerialNumber</p>
            </div>
            <div>
                <p>Manufacturer</p>
                <p class="fs-5">@Model.Manufacturer</p>
            </div>
            <div>
                <p>Location</p>
                <p class="fs-5">@Model.Location</p>
            </div>
            <div>
                <p>Purchase Price</p>
                <p class="fs-5">$@Model.PurchasePrice</p>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-between align-items-center mt-3">
        <div class="d-flex align-items-center gap-5">
            <a asp-action="Edit" asp-route-assetId="@Model.AssetId">
                <button class="btn btn-primary">Edit</button>
            </a>
            <a onclick="history.back()" style="cursor: pointer" class="link-primary text-decoration-none">Go Back</a>
        </div>
        <a asp-action="Delete" asp-route-assetId="@Model.AssetId">
            <button class="btn btn-danger">Delete</button>
        </a>
    </div>
</section>
<section class="p-3 bg-dark-subtle d-flex gap-3 flex-column flex-fill flex-md-row justify-content-center align-items-center">
    <a asp-controller="AssetAssignment" asp-action="AssignEmployee" asp-route-assetId="@Model.AssetId"
       class="p-2 card text-decoration-none">
        Assign To Employee
    </a>
    <a asp-controller="AssetAssignment" asp-action="AssignDepartment" asp-route-assetId="@Model.AssetId" class="p-2 card text-decoration-none">Assign To Department</a>
    <a asp-controller="AssetAssignment" asp-action="Return" class="p-2 card text-decoration-none">
        <form asp-controller="AssetAssignment" asp-action="Return" asp-route-assetId="@Model.AssetId">
            <button class="btn btn-link text-black text-decoration-none p-0">Return Asset</button>
        </form>
    </a>
    <a asp-action="Request" class="p-2 card text-decoration-none">Request Reassignment</a>
    <a asp-action="CreateTicket" class="p-2 card text-decoration-none">Support Ticket</a>
</section>
<section class="card p-4">
    <h2 class="fs-4">Assignment History</h2>
    @if (Model.AssetAssignments.Count > 0)
    {
        <table class="table table-bordered mb-3">
            <thead class="table-primary">
            <tr>
                <th>Department</th>
                <th>Employee</th>
                <th>Assignment Date</th>
                <th>Return Date</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var a in Model.AssetAssignments)
            {
                string returnDate = "", employeeName = "";
                if (a.ReturnDate != null)
                {
                    returnDate = a.ReturnDate.Value.ToShortDateString();
                }

                if (a.Employee != null)
                {
                    employeeName = a.Employee.LastName + ", " + a.Employee.FirstName;
                }
                <tr>
                    <td>@a.Department.DepartmentName</td>
                    <td>@employeeName</td>
                    <td>@a.AssignmentDate.Date.ToShortDateString()</td>
                    <td>@returnDate</td>
                </tr>
            }
            </tbody>
        </table>   
    }
    else
    {
        <p class="fs-5">No Assignment found</p>
    }
    <h2 class="fs-4">Ticket History</h2>
    @if (Model.SupportTickets.Count > 0)
    {
        <table class="table table-bordered">
            <thead class="table-primary">
            <tr>
                <th>Status</th>
                <th>Type</th>
                <th>Priority</th>
                <th>Technician</th>
                <th>Report Date</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var t in Model.SupportTickets)
            {
                <tr>
                    <td>@t.TicketStatus.TicketStatusName</td>
                    <td>@t.TicketType.TicketTypeName</td>
                    <td>@t.TicketPriority.TicketPriorityName</td>
                    <td>@t.AssignedToEmployee.LastName, @t.AssignedToEmployee.FirstName</td>
                    <td>@t.DateReported.Date.ToShortDateString()</td>
                </tr>
            }
            </tbody>
        </table>   
    }
    else
    {
        <p class="fs-5">No Tickets found</p>
    }
</section>